body{
  font-family: 'Montserrat', sans-serif;
  /* color: #00BCD4  */
}

/* Banner Image */
.Banner {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  background-color:  rgba(0, 0, 0, 0.8);
  color: #fff;
  overflow: auto;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.centered label,.centered input{
  color: #fff !important;
}

.color-field div{
  /* color: #fff !important; */
    color: #00BCD4 !important;
}

/* UserShow */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.top-left {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 16px;
}

.avatar-card {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* Search */
.Boxinput div[style]{
  width: 100% !important;
}

.block-vehicle{
  margin-top: 30px;
}

/* VehicleEdit */
input[type=text]:not(.browser-default):focus:not([readonly]){
  box-shadow: none !important;
}

/* Card Vehicle */
.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 15px;
}

.card-product:hover {
  cursor: pointer;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.card-product img {
  height: 100%;
  width: 170px;
  object-fit: cover;
  border-radius: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-product .card-product-infos {
  padding: 16px;
}

.select-marker{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

/* vehicles create Edit */
input[type=number]:not(.browser-default):focus:not([readonly]){
  box-shadow: none !important;
}

/* Search Show */
.search-show .col, .search-show .row{
  padding: 0 !important;
  margin-bottom: 0 !important
}

.list-vehicle{
  max-height: 769px;
  overflow: auto;
}

/* Vehicle show */
.box-slider-vehicle{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

/* Footer */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


@media only screen and (max-width: 600px) {
  .centered {
    padding: 10px;
    top: 45%;
    left: 50%;
    height: 400px;
    width: 80%;
  }

}