body{
  font-family: 'Montserrat', sans-serif;
  /* color: #00BCD4  */
  background: #1A2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00BCD4, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00BCD4, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Navbar */
.color-nav{
  background: #1A2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00BCD4, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00BCD4, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-color{
  background-color: #00BCD4 !important;
}

/* UserShow */
.box-profile{
  display: block;
  margin-top: 40px;
  border-right: 1px solid #F4F4F4;
}

.list-select-user-show{
  margin-left: 10%;
}

.list-select-user-show p{
  color: rgba(0,0,0,.6);
}
.list-select-user-show p:hover{
  color: #F4F4F4;
  font-size: 18px;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.info-selected-user-show{
  display: block;
  margin-top: 40px;
  margin-left: 20px;
}

.info-user-user-show{
  color: rgba(0,0,0,.6);
  font-size: 18px;
}

.info-name-user-show{
  font-size: 30px;
}

/* UserShow Reservation */
.box-vehicle-user-show{
  display: inline-flex;
  flex-wrap:  wrap;
  padding: 20px;
  width: 100%;
}
.box-vehicle-user-show:hover{
  border-radius: 5px;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.box-vehicle-user-show img{
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.box-vehicle-content{
  margin-left: 20px;
  color: rgba(0,0,0,.6);
}

/* UserShow listVehicle */
.collaps-vehicle .collapsible-header{
  background-color: transparent !important;
  border-bottom: none !important;
}

.collaps-vehicle .collapsible {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  box-shadow: none !important;
}
.collaps-vehicle .collapsible:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23) !important;
  border-radius: 5px;
}

.collapsible-body{
  border-bottom: none !important;
}

.list-vehicle-user-show{
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.list-vehicle-user-show img{
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.list-vehicle-user-show-content{
  margin-left: 20px;
  color: rgba(0,0,0,.6);
}

.collapsible-body{
  color: rgba(0,0,0,.6);
}

/* UserShow renderListOfMyVehicleReservation */
.list-vehicle-reservation-user-show{
  display: inline-flex;
  width: 100%;
  color: rgba(0,0,0,.6);
  padding: 10px;
}

.list-vehicle-reservation-user-show:hover{
  border-radius: 5px;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.avatar-large{
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.list-vehicle-reservation-content-user-show{
  padding: 20px;
  width: 100%;
}

.list-vehicle-reservation-content-info-user-show{
  display: inline-flex;
  flex-wrap:  wrap;
  justify-content: space-between;
}

.list-vehicle-reservation-content-info-user-show p{
  margin-right: 10px;
}

.rent-vehicle{
  color: rgba(0,0,0,.6);
}


/* UserEdit */
.box-user-edit{
  color: #F4F4F4;
}

.box-user-edit input{
  color: #F4F4F4;
}

.box-user-edit input[type=text]:not(.browser-default), .box-user-edit input[type=tel]:not(.browser-default){
  border-bottom: 1px solid #fff !important;
}

.box-user-edit input[type=text]:not(.browser-default):focus:not([readonly]), .box-user-edit input[type=tel]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #00BCD4 !important;
}

.box-user-edit input[type=text]:not(.browser-default):focus:not([readonly])+label,.box-user-edit input[type=tel]:not(.browser-default):focus:not([readonly])+label, .input-field .prefix.active{
  color:  #00BCD4 !important;
}

.box-user-edit .input-field>label {
  color: #f4f4f4;
}

.btn-picture{
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #F4F4F4;
  background-color: #00BCD4;
  color: #F4F4F4;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

/* VehicleEdit */
.box-create-vehicle{
  color: #f4f4f4;
}

.box-create-vehicle input, .box-create-vehicle label, .box-create-vehicle label:active{
  color: #F4F4F4 !important;
}



































/* Close Modal */
.btn-close-modal{
  background-color:  #00BCD4 !important;
  color: #FFFFFF;
}

/* Banner Image */
.Banner {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  background-color:  rgba(0, 0, 0, 0.8);
  color: #fff;
  overflow: auto;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.centered label,.centered input{
  color: #fff !important;
}

.color-field div{
    color: #00BCD4 !important;
}
/* Review card */

.block-review{
  max-height: 250px;
  overflow: auto;
}
.card-product-review {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;

}

.card-product-review img {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card-product-review h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-review p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-review .card-product-review-infos {
  padding: 16px;
}

/* UserShow */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.top-left {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 16px;
}

.avatar-card {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.card-vehicle{
  overflow: hidden;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.collapsible-header i {
  margin-right: 0 !important;
  font-size: 15px !important;
}

.card-vehicle-content{
  margin-left: 10px;
}

.card-vehicle img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-vehicle h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vehicle p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}



.card-product-user {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px;
}

.card-product-user:hover {
  background: #F4F4F4;
}

.card-product-user img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-user h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-user p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-user .card-product-user-infos {
  padding: 16px;
  width: 100%
}

/* Search */
.Boxinput div[style]{
  width: 100% !important;
}

.block-vehicle{
  margin-top: 30px;
}

/* VehicleEdit */
input[type=text]:not(.browser-default):focus:not([readonly]){
  box-shadow: none !important;
}

/* Card Vehicle */
.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 15px;
}

.card-product:hover {
  cursor: pointer;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.card-product img {
  height: 100%;
  width: 170px;
  object-fit: cover;
  border-radius: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-product .card-product-infos {
  padding: 16px;
}

.select-marker{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

/* vehicles create Edit */
input[type=number]:not(.browser-default):focus:not([readonly]){
  box-shadow: none !important;
}

/* Search Show */
.search-show .col, .search-show .row{
  padding: 0 !important;
  margin-bottom: 0 !important
}

.list-vehicle{
  max-height: 769px;
  overflow: auto;
}

/* Vehicle show */
.container-vehicle-show{
  padding-left: 30px;
}
.box-slider-vehicle{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.price-show-vehicle{
  display: block;
  margin-top: 10px;
  font-size: 22px;
}
.form-price{
  display: block;
  padding: 20px;
  background-color: #F4F4F4;
  border-radius: 5px;
  border: 10px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}



/* Reservation */
.box-date-reservation{
  margin-top: -40px !important;
}

.color-web{
  background-color: #00BCD4 !important;
  width: 100%;
  margin-top: 10px
}

.color-web-owner{
  background-color: #fff !important;
  color:  #00BCD4 !important;
  width: 100%;
  margin-top: 10px;
  border: 3px solid  #00BCD4 !important;
  padding: 10px;
  border-radius: 5px;
}

.counter{
  display: inline-flex;
}
.counter span{
  width: 95px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-top: 13px;
}

.line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.card-profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
  width: 50%;
  height: 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.card-profile img{
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* Footer */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


@media only screen and (max-width: 600px) {
  .centered {
    padding: 10px;
    top: 45%;
    left: 50%;
    height: 400px;
    width: 80%;
  }

}